
body{
    background-image: linear-gradient(
        rgba(27, 238, 227, 0.7),
        rgba(240, 162, 18, 0.7));
    min-height: 101vh;
}

img{
    width: 74%;
}

label{
    display: flex;
    justify-content: center;
    margin-top: 112px;
}